## sets
-set is unordered collection of different data types
-set is mutable
-defined with {}
-non index based
-does not contain duplicate values and hashable value(checks for position of values in set)
unhashable types cannot be added to set

In [17]:
s1={1,22,13,4}
print(s1)

{1, 4, 13, 22}

In [13]:
#adding the element into set
s={1,2,3,4}
s.add(30)
print(s)

{1, 2, 3, 4, 30}

In [7]:
#creating empty set
s1={}
s2=set()
print(type(s1))
print(type(s2))

<class 'dict'>
<class 'set'>

In [9]:
#not index based
s={1,2,3,"teju",21,'codegnan'}
s[0]

TypeError: 'set' object is not subscriptable

In [10]:
# set allow unique values
s={1,2,3,4,5,3,2,1}
print(s)

{1, 2, 3, 4, 5}

In [18]:
#set of integers from user
set_cr=set(map(int,input().split()))
print(set_cr)

 1 2 3 3 4 5 5

{1, 2, 3, 4, 5}

In [21]:
set_cr=set(map(float,str,input().split()))
set_cr

 1 2 3 3.3 "teju"

TypeError: 'type' object is not iterable

# operations of set

Union-combine the two sets without any common elements because set is unique
Intersection-gives the common elements from both sets
Difference-difference symbol(-) (a-b) or (b-a)
Symmetic difference-elements from a and b but not from both(means no  intersection elements){(a union b)-(a intersection b)}
Subset-set inside set(all set b elements are present in set a then    set b is subset of set a)
Superset-if set b all elements are present in set a then set a is     superset of set b
Disjoint set-there is no common elements between both sets then those sets are disjoint sets

In [17]:
#union
set1={1,2,3,4,4}
set2={5,3,6,7,8,8}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
#intersection
intersection=set1.intersection(set2)
print(intersection)

{3}

In [19]:
#difference
difference=set1.difference(set2)
print(difference)

{1, 2, 4}

In [26]:
#symmetric difference
symmentic_diff=set1.symmetric_difference(set2)
print(symmentic_diff)

{1, 2, 4, 5, 6, 7, 8}

In [27]:
#issubset
subset=set1.issubset(set2)
print(subset)

False

In [28]:
#issuperset
superset=set1.issuperset(set2)
print(superset)

False

In [29]:
#disjoint
disjoint=set1.isdisjoint(set2)
print(disjoint)

False

set methods
add(element):add an element into set
update(iterable): adds multiple elements to set at a time
remove(elements):removes a particular elemeent
discard(element):remove an element from set
pop(element):removes a random element from set
clear():removes all elements from set and gives empty set

In [2]:
# add
set1={1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [3]:
#update
set1.update([7,8,9])
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [4]:
#remove
set1.remove(9)
print(set1)

{1, 2, 3, 4, 5, 7, 8}

In [6]:
#discard
set1.discard(7)
print(set1)

{1, 2, 3, 4, 5, 8}

In [7]:
#pop
set1.pop()
print(set1)

{2, 3, 4, 5, 8}

In [8]:
#clear
set1.clear()
print(set1)

set()

In [9]:
print("hello world")

hello world

In [10]:
s=set()
s.update([10,20,30])
print(s)

{10, 20, 30}

In [11]:
s.pop()

10

In [12]:
print(s)

{20, 30}

In [30]:
#write a python program to print "hello python"
print("Hello Python")

Hello Python

In [38]:
#Write a python program to do arithemetic operation addition and division
a=int(input())
b=int(input())
print(a+b)
print(a%b)

 2
 3

5
2

In [41]:
#find the area of traingle
base=int(input())
height=int(input())
area_of_triangle=1/2*base*height
print(area_of_triangle)

 2
 3

3.0

In [40]:
#swapping of two variables
a=int(input())
b=int(input())
print("before swapping : ", a,b)
print("after swapping :", b,a)

 2
 3

before swapping :  2 3
after swapping : 3 2

In [42]:
#swap of two numbers using airthemetic operators
a=int(input())
b=int(input())
a=a-b
b=a+b
a=b-a
print(a,b)

 2
 3

3 2

In [ ]:
a=int(input())
b=int(input())
a=a^b