## Tuples

-Tuple is ordered collecetion
-tuple contain different data type values
-denotes with ()
-tuple is immutable
-tuple is indexed and sliceable
-tuple is heterogenous
-tuple allow duplicate elements

In [1]:
#immutable
t=(1,2,3,4.9,"teju",[1,2,34],1)
t[0]=100
print(t)

TypeError: 'tuple' object does not support item assignment

In [2]:
#indexed
print(t[3])

4.9

In [3]:
#slicable
print(t[4:5])

('teju',)

In [4]:
#slicable with step size
print(t[2:5:2])

(3, 'teju')

In [5]:
print(t[2:5:-1])

()

In [6]:
print(t[4:200])

('teju', [1, 2, 34], 1)

In [10]:
#empty tuple creation
t1=()
t2=tuple()
print(t1)
print(t2)
t3=(21)
print(type(t3))
t4=(21,)
print(type(t4))

print(type(t1))

()
()
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [13]:
#reading input from user
t=tuple(map(int,input().split()))
print(t)

1 2 3
(1, 2, 3)

In [14]:
#reading input from user (single value)
t=tuple(map(int,input().split()))
print(t)

10
(10,)

In [15]:
#tuple concatenation  from user
t1=tuple(map(int,input().split()))
t2=tuple(map(int,input().split()))
t3=t1+t2
t3

1 2 3
5 6 7

(1, 2, 3, 5, 6, 7)

In [16]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6)

In [17]:
#tuple repeat with *
print(t1*4)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

##Tuple methods
-index():return position of a value in tuple otherwise **value error**
-count():gives the number of occurnces of particular element in tuple

In [20]:
t=tuple(map(int,input().split()))
index=t.index(4)
print(index)

1 2 3 4
3

In [21]:
t=tuple(map(int,input().split()))
count=t.count(4)
print(count)

1 2 3 4 5 1
1

In [22]:
#built in functions
min,max,sum,len
t=(1,2,3,4)
print(min(t))
print(max(t))
print(len(t))
print(sum(t))

1
4
4
10

In [24]:
#sorted
t=(1,2,3,4,5,5)
new_t=sorted(t,reverse=False)
print(new_t)

[1, 2, 3, 4, 5, 5]